body{
font-family: 'Noto Sans TC', sans-serif;
}

h1{
	font-family: 'Noto Sans TC', sans-serif ;
	font-size: 5rem ;	
}
 h2, h3, h4, h5, h6, mb-5, mb-0 {
	font-family: 'Noto Sans TC', sans-serif ;
	font-size: 2rem ;
 }
 div, p, section, lead mb-5 {
	font-family: 'Noto Sans TC', sans-serif ;
	font-size: 1rem ;
 }
 subheading mb-5 {
	 font-family: 'Noto Sans TC', sans-serif ;
	font-size: 1rem ;
 }	
.bg-primary{
	background-color: #939e00 ! important;
	background-image: url("https://www.transparenttextures.com/patterns/3px-tile.png");
}
a:link{
	color:purple;
}
a:visited{
color:blue;
}

#photo .col-md-7, #photo .col-md-5 {
	margin-bottom: 3rem;
}